* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;
}

.container {
  width: 90%;
  margin: auto;
}

/* TOP BAR */
.top-bar {
  background: white;
  padding: 15px 0;
}

.top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h2 {
  color: #004aad;
}

.logo span {
  display: block;
  font-size: 16px;
  color: #000;
}

.contact-info {
  display: flex;
  gap: 20px;
  font-size: 14px;
}

/* NAVBAR */
.navbar {
  background: #1e9c3f;
  list-style-type: none;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 15px 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.nav-links a:hover {
  text-decoration: overline;
}

/* Dropdown */
.dropdown-menu {
  position: absolute;
  top: 190%;
  left: 0;
  background: orange;
  list-style: none;
  width: 160px;
  display: none ;
  z-index: 2000;
   transition: opacity 1s ease, visibility 0.3s ease ,;
  visibility: hidden;         
}

.dropdown-menu li {
  padding: 10px;
  
}

.dropdown-menu li a {
  color: black;
  display: block;
  
}

.dropdown-menu li a:hover {
  background: #333;
}


li:hover .dropdown-menu {
  display: block;
    visibility: visible;
  opacity: 1;

}
li{
    position: relative;
}






/* FOR FOOTER */
.footer{
  background-color: rgb(32, 66, 131);
  position: relative;
  padding-top: 3rem;
}
.abu{
  color: white;
  margin-left: 15rem;
  font-size: 17px;
  padding-bottom: 5px;
}
/* for about us linka */
.la{
  margin-left: 15rem;
}
.vi{
  text-decoration: none;
  color: rgba(143, 183, 216, 0.829);
  font-size: 13px;
}
.vi:hover{
  color: white;
}

/* second link line */
.cau{
  color: white;
  font-size: 17px;
  padding-bottom: 20px;
}
.za{
  margin-left: 30rem;
  margin-top: -9.4rem;
}

/* for third link line */
.sa{
  margin-left: 46rem;
  margin-top: -14.9rem;
}
.wyp{
  color: white;
  font-size: 17px;
  padding-bottom: 20px;
}

/* fourth link line */
.lev{
  margin-left: 59rem;
  margin-top: -9.4rem;
}
.le{
  color: white;
  font-size: 17px;
  padding-bottom: 20px;
}

/* fifth link line */
.xrv{
  margin-left: 75rem;
  margin-top: -8.1rem;
}
.sxe{
  text-decoration: none;
  color: rgba(143, 183, 216, 0.829);
  font-size: 13px;
}
.ve{
  text-decoration: none;
  color: rgba(143, 183, 216, 0.829);
  font-size: 13px;
}
.ve:hover{
  color: white;
}